## **DataBase**

### **연결**

In [1]:
import pymysql

WL_DB = pymysql.connect(host='220.90.200.176',
                       port=3306,
                       user='multi',
                       passwd='multi!)@(',
                       db = 'SocialAnalysis',
                       charset='utf8')

cursor = WL_DB.cursor()

### **검색**

In [2]:
sql = """
    SELECT * FROM POST_4
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

()

### **삽입**

In [3]:
sql2 = """
    INSERT INTO POST_4(shortcode, inner_id, post_date, crawling_time, like_count, view_count, url, media_url, content, region_tag, hashtag, team_idx)
    VALUES ('CB-kragHtB1', '3233588', '2020-06-28 20:50:17', '2020-09-05 01:07:03', 44, 11, 'https://www.instagram.com/p/CB-kragHtB1/', 'https://scontent-gmp1-1.cdninstagram.com/v/t51...', 'text', 'test', 'test', 4)
"""

cursor.execute(sql2)
WL_DB.commit()

In [4]:
sql = """
    SELECT * FROM POST_4
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((4, 'CB-kragHtB1', '3233588', datetime.datetime(2020, 6, 28, 20, 50, 17), datetime.datetime(2020, 9, 5, 1, 7, 3), 44, 11, 'https://www.instagram.com/p/CB-kragHtB1/', 'https://scontent-gmp1-1.cdninstagram.com/v/t51...', 'text', 'test', 'test', 4),)

### **수정**

In [5]:
sql3 = """
    UPDATE POST_4
    SET view_count = 33
    WHERE inner_id = '3233588'
"""

cursor.execute(sql3)
WL_DB.commit()

In [6]:
sql = """
    SELECT * FROM POST_4
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

((4, 'CB-kragHtB1', '3233588', datetime.datetime(2020, 6, 28, 20, 50, 17), datetime.datetime(2020, 9, 5, 1, 7, 3), 44, 33, 'https://www.instagram.com/p/CB-kragHtB1/', 'https://scontent-gmp1-1.cdninstagram.com/v/t51...', 'text', 'test', 'test', 4),)

### **삭제**

In [7]:
sql4 = """
    DELETE FROM POST_4 WHERE inner_id = '3233588'
"""

cursor.execute(sql4)
WL_DB.commit()

In [8]:
sql = """
    SELECT * FROM POST_4
"""

cursor.execute(sql)
re = cursor.fetchall()

print(re)

()

### **class화**

In [ ]:
import pymysql


class Python2DB():
    def __init__(self):
        self.WL_DB = pymysql.connect(host='220.90.200.176',
                                     port=3306,
                                     user='multi',
                                     passwd='multi!)@(',
                                     db = 'SocialAnalysis',
                                     charset='utf8')
        self.cursor = self.WL_DB.cursor()

    def select(self):
        sql_qr = """
            SELECT * FROM POST_4
        """
        self.cursor.execute(sql_qr)
        return self.cursor.fetchall()

    def insert(self):
        sql_qr2 = """
            INSERT INTO POST_4(shortcode, inner_id, post_date, crawling_time, like_count, view_count, url, media_url, content, region_tag, hashtag, team_idx)
            VALUES ('CB-kragHtB1', '3233588', '2020-06-28 20:50:17', '2020-09-05 01:07:03', 44, 11, 'https://www.instagram.com/p/CB-kragHtB1/', 'https://scontent-gmp1-1.cdninstagram.com/v/t51...', 'text', 'test', 'test', 4)
        """
        self.cursor.execute(sql_qr2)
        self.WL_DB.commit()

    def update(self):
        sql_qr3 = """
            UPDATE POST_4
            SET view_count = 33
            WHERE inner_id = '3233588'
        """
        self.cursor.execute(sql_qr3)
        self.WL_DB.commit()

    def delete(self):
        sql_qr4 = """
            DELETE FROM POST_4 WHERE inner_id = '3233588'
        """
        self.cursor.execute(sql_qr4)
        self.WL_DB.commit()

In [9]:
import pymysql


class Python2DB():
    def __init__(self):
        self.WL_DB = pymysql.connect(host='220.90.200.176',
                                     port=3306,
                                     user='multi',
                                     passwd='multi!)@(',
                                     db = 'SocialAnalysis',
                                     charset='utf8')
        self.cursor = self.WL_DB.cursor()
        
    def select(self, table, column):
        sql_qr = """
            SELECT {0} FROM {1}
        """.format(column, table)
        self.cursor.execute(sql_qr)
        return self.cursor.fetchall()

    def insert(self, table, columns, values):
        sql_qr2 = """
            INSERT INTO {0}({1})
            VALUES ({2})
        """.format(table, columns, values)
        self.cursor.execute(sql_qr2)
        self.WL_DB.commit()

    def update(self, table, set_content, where_content):
        sql_qr3 = """
            UPDATE {0}
            SET {1}
            WHERE {2}
        """.format(table, set_content, where_content)
        self.cursor.execute(sql_qr3)
        self.WL_DB.commit()

    def delete(self, table, where_content):
        sql_qr4 = """
            DELETE FROM {0} WHERE {1}
        """.format(table, where_content)
        self.cursor.execute(sql_qr4)
        self.WL_DB.commit()

In [10]:
db_test = Python2DB()

In [11]:
db_test.select('POST_4', '*')

()

In [12]:
db_test.insert('POST_4', 'shortcode, inner_id, post_date, crawling_time, like_count, view_count, url, media_url, content, region_tag, hashtag, team_idx',
               "'CB-kragHtB1', '3233588', '2020-06-28 20:50:17', '2020-09-05 01:07:03', 44, 11, 'https://www.instagram.com/p/CB-kragHtB1/', 'https://scontent-gmp1-1.cdninstagram.com/v/t51...', 'text', 'test', 'test', 4")
db_test.select('POST_4', '*')

((5,
  'CB-kragHtB1',
  '3233588',
  datetime.datetime(2020, 6, 28, 20, 50, 17),
  datetime.datetime(2020, 9, 5, 1, 7, 3),
  44,
  11,
  'https://www.instagram.com/p/CB-kragHtB1/',
  'https://scontent-gmp1-1.cdninstagram.com/v/t51...',
  'text',
  'test',
  'test',
  4),)

In [13]:
db_test.update('POST_4', "view_count = 33", "inner_id = '3233588'")
db_test.select('POST_4', '*')

((5,
  'CB-kragHtB1',
  '3233588',
  datetime.datetime(2020, 6, 28, 20, 50, 17),
  datetime.datetime(2020, 9, 5, 1, 7, 3),
  44,
  33,
  'https://www.instagram.com/p/CB-kragHtB1/',
  'https://scontent-gmp1-1.cdninstagram.com/v/t51...',
  'text',
  'test',
  'test',
  4),)

In [14]:
db_test.delete('POST_4', "inner_id = '3233588'")
db_test.select('POST_4', '*')

()